<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Últimas noticias
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Últimas noticias</ion-title>
    </ion-toolbar>
  </ion-header>






  <ion-card *ngFor="let noticia of noticias">
    <a href="{{ noticia.url }}"><img src="{{ noticia.urlToImage }}" /></a>
    <ion-card-header>
      <ion-card-subtitle>{{ noticia.source.name }}</ion-card-subtitle>
      <ion-card-title>{{ noticia.title }}</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      {{ noticia.content }}
    </ion-card-content>
  </ion-card>




</ion-content>
